@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

.header {
    display: flex;
    
    align-items:center;    
   
    
}

.header .headLeft {
    /* border: 2px solid blueviolet; */
    flex: 5;
    margin: 10px 10px 10px 0;
    font-family: 'Style Script', cursive;
    font-size:18px;
    
    
}

.header .headRight {
    /* border: 2px solid black; */
    flex: 1;
    margin: 10px 1px 10px 0px;
    text-align: right;
    font-family: 'Lora', serif;
    font-size:12px;
        
}


.header .magGlass {
    
    margin: 1   0px 10px 0px 0px;
   vertical-align: baseline;
    
    /* border: 2px solid red; */
    flex:0;
    text-align:right;
    width:60px;

}
.magGlass img{
    width: 60px;
    height:60px;
}

.nav {
    /* height: 10vh; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
   

}

.item {
    
    font-family: 'Lora', serif;
    color:black;
    font-weight:bold;

}
.item a {
    text-decoration:none;
    font-family: 'Lora', serif;
    color:black;
    font-weight:bold;

}

.section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    width:80%;
    margin:auto;


}

.block {
    background-image: url('https://cdn.pixabay.com/photo/2016/11/21/15/41/appetizer-1846026__480.jpg');
    background-size: cover;
    height: 100%;
    backdrop-filter: blur(10px);

}

.block p {
    color: white;
    margin: 70% 0 0 0;
    border: 2px solid black;
    text-align: center;
    backdrop-filter: brightness(50%);
    font-family: 'Lora', serif;

}

.block2 {
    background-image: url('https://cdn.pixabay.com/photo/2017/01/29/16/23/burger-2018627__480.jpg');
    background-size: cover;
    height: 100%;

}

.block2 p {
    color: white;
    margin: 70% 0 0 0;
    border: 2px solid black;
    text-align: center;
    backdrop-filter: brightness(50%);
    font-family: 'Lora', serif;
}

.block3 {
    background-image: url('https://cdn.pixabay.com/photo/2017/12/10/14/47/pizza-3010062__480.jpg');
    background-size: cover;
    height: 100%;
}

.block3 p {
    color: white;
    margin: 70% 0 0 0;
    border: 2px solid black;
    text-align: center;
    backdrop-filter: brightness(50%);
    font-family: 'Lora', serif;
}

.block4 {
    background-image: url('https://cdn.pixabay.com/photo/2018/05/01/18/21/eclair-3366430__480.jpg');
    background-size: cover;
    height: 100%;
}

.block4 p {
    color: white;
    margin: 70% 0 0 0;
    border: 2px solid black;
    text-align: center;
    backdrop-filter: brightness(50%);
    font-family: 'Lora', serif;
}
.block5 {
    background-image: url('https://media.istockphoto.com/id/909987486/photo/zucchini-noodles-in-a-bowl.jpg?b=1&s=170667a&w=0&k=20&c=z_Ag9aL0rHfEcfSWkqftWWYia9H_eWKiOMI0ikgCFwU=');
    background-size: cover;
    height: 100%;
}
.block5 p {
    color: white;
    margin: 70% 0 0 0;
    border: 2px solid black;
    text-align: center;
    backdrop-filter: brightness(50%);
    font-family: 'Lora', serif;
}

.block6 {
    background-image: url('https://cdn.pixabay.com/photo/2016/11/21/15/41/appetizer-1846026__480.jpg');
    background-size: cover;
    height: 100%;
}
.block6 p {
    color: white;
    margin: 70% 0 0 0;
    border: 2px solid black;
    text-align: center;
    backdrop-filter: brightness(50%);
    font-family: 'Lora', serif;
}
.block7 {
    background-image: url('https://cdn.pixabay.com/photo/2018/02/27/18/41/muesli-3186256__480.jpg');
    background-size: cover;
    height: 100%;
}
.block7 p {
    color: white;
    margin: 70% 0 0 0;
    border: 2px solid black;
    text-align: center;
    backdrop-filter: brightness(50%);
    font-family: 'Lora', serif;
}
.block8 {
    background-image: url('https://media.istockphoto.com/id/1078587036/photo/red-velvet-cake-decorated-rose-flowers-on-white-plate.jpg?b=1&s=170667a&w=0&k=20&c=LR4mwy_oXViNrS62-2ESfZePtbC69uPCYC-myXOMmQU=');
    background-size: cover;
    height: 100%;
}
.block8 p {
    color: white;
    margin: 70% 0 0 0;
    border: 2px solid black;
    text-align: center;
    backdrop-filter: brightness(50%);
    font-family: 'Lora', serif;
}

.block9 {
    background-image: url('https://cdn.pixabay.com/photo/2016/11/21/15/41/appetizer-1846026__480.jpg');
    background-size: cover;
    height: 100%;
}

.block9 p {
    color: white;
    margin: 70% 0 0 0;
    border: 2px solid black;
    text-align: center;
    backdrop-filter: brightness(50%);
    font-family: 'Lora', serif;
}

img {
    width: 100%;
    border: 2px solid black;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: black;
}
.footer1{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    color:red; 
    border: 1px solid black;    
    width:60%;
    margin:auto;
    
    
}
.footer1 p {   
    border: 1px solid black;  
    color:white;
    font-family: 'Lora', serif;
    font-size:12px;
   
}
.footer1 a{
    text-decoration: none;
    color:white;
    font-family: 'Lora', serif;
    font-size:12px; 
}
.icons img {
    margin: 10px 10px 10px 0px;
    height: 25px;
    width: 25px;
    
}
.copyRight p{
    
    color:white;
    font-family: 'Lora', serif;
    font-size:12px;
    
}

@media screen and (min-width:350px) and (max-width:800px) {
    .section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 1rem;
        width:80%;
        margin:auto;

    }

    .section p {
        font-size:18px;
    }
    /* body {
        background-color: pink;
    } */
}