@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0;

}

body {
    width:100%;
}

/*THE HEADER*/
.header {
    display:flex;
    align-items:center;

    &.headLeft  {
        flex:1;
        margin:10px 10px 10px 0;
        font-family: 'Style Script', cursive;
        font-size:18px;
    }
}