* {
    box-sizing:border-box;
    /* margin:auto;
    max-width:1000px; */
}
html {
    width:100vw;
}
.header {
    display:flex;
    border: 1px solid red;
}
.header .headLeft{
    border: 2px solid blueviolet;
    flex:1;
    margin:10px
}
.header .headRight{
    border: 2px solid black;
    flex:1;
    margin: 10px 10px 10px 0px;
    text-align: right;
}
.header .magGlass {
    margin: 10px 10px 10px 0px;
    height:5.2rem;
    width: 80px;
    border: 2px solid red;
    
}

.nav{
    /* height: 10vh; */
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    text-align:center;  
    border: 1px solid green;
   
}

 .item {
  border:1px solid red;
    
}
.section {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap:1rem;
    border: 1px solid red;
    width:100%;
}
.section div {
    width:50%;
    
 }
